body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


form{
	border:2px solid #ccc;
	margin-top: 20px;
	text-align: center;
	position: relative;
}
form label{
	width:100px;
	text-align: center;
}
form .form-control{
	width: 200px;
	display: inline-block;
	margin: 10px;
}

form .sendButton{
	position: absolute;
	bottom: 20px;
	margin-left: 200px;
}



/*modal*/
#ajaxMsg{
	/*color:red;*/
	font-weight: 600;
	font-size: 14px;
	
}